@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.introduction-form {
  text-align: center;
  font-family: 'Jua', sans-serif;
}

.introduction-form-name {
  font-size: 56px;
}

.introduction-form-img {
  width: 20%;
}

.introduction-form-icon {
  width: 2.5%;
}

.introduction-form-like {
	font-size: 24px;
}

.icon-information {
  color: gray;
  font-size: 16px;
}